* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: black;
  min-height: 100vh;
  background-color: white;
}

.background {
  background-image: url(../../piano-keys-edited.png);
  // background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: 100%;
  min-height: 100vh;
  padding-bottom: 20px;
}

h4 {
  font-size: 2em;
  font-weight: 500;
  // color: black;
  color: #d4af37;
  margin: 0 20px 20px 20px;
  padding-top: 20px;
  text-shadow: -2px 2px 8px black;
}

p {
  margin: 20px 100px 20px 100px;
  line-height: 1.4;
  font-size: 0.85em;
  font-weight: 600;
}