.navbar {
    background-color: #336699;
    display: flex;
    justify-content: space-evenly;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    opacity: 0.3;
}

ul {
    list-style-type: none;
    padding: 15px;
}