.navbar {
    background-color: darkblue;
    display: flex;
    justify-content: space-evenly;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 10px;
}