.navbar {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    // opacity: 0.5;
    color: #d4af37;
    border-bottom: white;
    border-bottom: 1px solid #d4af37;
    border-bottom-width: 2px;
    padding-bottom: 6px;
}

ul {
    list-style-type: none;
    padding: 15px;
}